@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body, html {
  font-family: 'Architects Daughter', cursive;
  line-height: 1.7;
  font-size: 1.2em;
  font-weight: 400;
  background: #243447;
  color: #f4f4f4;

}

ul {
  list-style: none;
}

a {
  color: rgb(119, 202, 230);
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
}

.center {
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-rows: 1fr 10fr 0.5fr;
  height: 100vh;
}

/* Navbar */
#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141d26;
  color: rgb(119, 202, 230);
  padding: 0 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav li {
  padding: 5px 30px;
}

nav li:hover {
  color: #fff;
}

.current {
  color: #fff;
  font-size: 1.6em;
}

/* Mobile */
@media(max-width: 650px) {
  #navbar-container {
    flex-direction: column;
    padding: 5px;
  }

  .nav-links {
    flex-direction: column;
  }
}

/* Footer */
#footer-container {
  background: #141d26;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#footer-container a {
  padding: 0px 20px;
}

#footer-container a:hover, 
.logo:hover {
  color: #fff;
}

/* Main */
#main-container {
  font-family: Arial, Helvetica, sans-serif;
}

/* Home */
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
#home-container {
  width: 75%;
  margin: 40px auto;
  font-size: 1.6rem;
  font-family: 'Architects Daughter';
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
}

.app-description {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

.home-title {
  font-family: 'Lemon', cursive;
}

/* Mobile */
@media(max-width: 650px) {
  .row {
    flex-direction: column-reverse;
    text-align: center;
  }

  .row img {
    width: 50%;
  }

  .home-title {
    font-size: 50px;
  }

  #home-container {
    width: 100%;
    margin: 0;
  }
  .app-description {
    width: 100%;
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
  }
}