#random-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  align-items: center;
}

#random-container .image-wrapper {
  margin-right: 10px;
}

#random-container .card.random-card {
  padding: 5px;
  color: #27C6DA;
  cursor: pointer;
  margin: 10px 20px;
  box-shadow: 0 8px 6px -6px white;
}

#random-container .card.showcase-card {
  padding: 10px;
  box-shadow: 0 8px 6px -6px white;
  cursor: pointer;
}

.showcase-card:hover {
  color: #27C6DA;
}

#random-container img {
  width: 100%;
}

@media(max-width: 499px) {
  #random-container {
    display: block;
    padding: 10px;
  }
  #random-container 
   .description,
   .followers, 
   .user span:first-child {
    display: none;
  }

  #random-container .image-wrapper {
    margin: auto;
  }
  #random-container img {
    width: 50%;
  }
  .btn {
    width: 100%;
  }
  .card {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .content-wrapper {
    margin: auto;
  }
}


