#random-container {
  padding: 0 20px;
}

#showcase-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#random-container .card {
  display: block;
  text-align: center;
  margin: 10px;
}

#random-container .image-wrapper {
     width: 80px;
     margin: auto;
}

#random-container .tweet-img {
  max-height: 250px;
  max-width: 250px;
}

#random-container .content-wrapper {
  text-align: center;
}

#random-container .card.random-card {
  padding: 5px;
  color: #27C6DA;
  cursor: pointer;
  margin: 10px auto;
  box-shadow: 0 8px 6px -6px white;
  width: 70%;
}

#random-container .card.showcase-card {
  padding-top: 10px;
  box-shadow: 0 8px 6px -6px white;
  cursor: pointer;
  width: 200px;
}

.showcase-card:hover {
  color: #27C6DA;
}

#random-container img {
  width: 100%;
}

@media(max-width: 850px) {
  #random-container {
    padding: 10px;
  }

  #random-container .card.showcase-card {
    width: 150px;
  }

  #random-container 
   .description,
   .followers, 
   .user span:first-child {
    display: none;
  }

  #random-container .image-wrapper {
    margin: auto;
  }
  #random-container img {
    width: 50%;
    max-width: 170px;
  }
  .btn {
    width: 100%;
  }
  .card {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .content-wrapper {
    margin: auto;
  }
}


@media(max-width: 650px) {
  #random-container .card.showcase-card {
    width: 100%;
  }
}

